* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}

html {
	color: #424242;
}

body {
	font-size: 15px;
	font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
	letter-spacing: -0.4px;
}

.logo-img {
	width: 74px;
	height: 30px;
	margin-right: 35px;
}

.navigation-primary-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	max-width: 1256px;
	padding: 10px 60px;
	box-sizing: border-box;
	margin: auto;
	border-bottom: 1px solid #ededed;
}

.navigation-primary-menu_item {
	display: inline-block;
	margin: 6px 10px 0;
	padding: 14px 6px;
	color: #424242;
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	cursor: pointer;
}

.navigation-primary-menu_item:first-child {
	color: #35c5f0;
}

.navigation-primary-right {
	flex: 1 0 auto;
	display: flex;
	justify-content: flex-end;
}

.navigation-search {
	width: 266px;
	height: 40px;
	box-sizing: border-box;
	margin: 13px 10px 7px 0;
	padding: 8px 9px 10px 39px;
	font-size: 15px;
	line-height: 20px;
	background-color: #fff;
	color: #424242;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
}

.navigation-member {
	display: inline-block;
	margin: 20px -9px 16px -7px;
	white-space: nowrap;
}

.navigation-member_item {
	margin: 0 9px 0 8px;
	padding: 2px;
	color: #757575;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
}

.navigation-upload-button {
	width: 100px;
	padding: 8px 0 10px;
	margin: 14px 0 0 20px;
	border: none;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #fff;
	background-color: #35c5f0;
	border-radius: 4px;
}

.navigation-secondary-wrap {
	display: flex;
	height: 49px;
	max-width: 1256px;
	margin: 0 auto;
	box-sizing: border-box;
	border-bottom: 1px solid #ededed;
}
.navigation-secondary-menu {
	flex: 1 0 auto;
	padding: 0 0 0 60px;
	margin: 0 8px 0 -12px;
}

.navigation-secondary-menu_item {
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	line-height: 23px;
	margin: 8px 4px;
	padding: 6px 8px 4px;
	color: #424242;
}

.navigation-app-download {
	flex: 0 0 auto;
	padding-right: 60px;
	margin: 14px 0;
	font-size: 15px;
	line-height: 21px;
	color: #757575;
	font-weight: 700;
}

.home-header {
	padding: 30px 0 0;
	margin: 0 auto;
	width: 1136px;
	box-sizing: border-box;
}

.home-header-row {
	display: flex;
	align-items: stretch;
	margin: 0 -10px;
}

.home-header_story {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding: 0 10px;
	flex: 0 0 75%;
	box-sizing: border-box;
}

.home-header_story-wrap::before {
	content: "";
	display: block;
	padding-bottom: 66.66667%;
}

.home-header_story-wrap {
	position: relative;
	overflow: hidden;
	border-radius: 6px;
}

.story_img {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    min-height: 100%;
    transition: transform .2s;
}

.home-header_banner {
	display: flex;
	align-items: stretch;
	padding: 0 10px;
	flex: 0 0 25%;
	max-width: 25%;
	box-sizing: border-box;
	position: relative;
	width: 100%;
}

.home-header_banner-wrap {
	display: flex;
	flex: 1 0 0px;
	align-items: stretch;
	position: relative;
	overflow: hidden;
	border-radius: 6px;
}

.banner_img {
	width: 100%;
}

.home-shortcut {
	display: block;
	margin: 0 auto;
	width: 1136px;
	box-sizing: border-box;
	overflow: auto;
}

.home-shortcut-list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	box-sizing: border-box;
	margin: 30px 0 20px;
}

.home-shortcut-list_item {
	display: inline-block;
	flex: 0 0 12.5%;
}

.home-shortcut-list_item_img {
	width: 100%;
}

.home-shortcut-list_item_title {
	text-align: center;
	margin: 6px 0 7px;
	font-size: 15px;
	color: #000;
	font-weight: 500;

}

.home-section {
	margin: 30px auto;
	width: 1136px;
	box-sizing: border-box;

}

.home-section-header {
	margin: 0 -10px 20px -10px;
	padding: 0 10px;
	color: #000;
	font-weight: 700;
	box-sizing: border-box;
}

.home-section-header_content {
	font-size: 20px;
}

.home-stories_content {
	display: flex;
	margin: 0 -10px;
	box-sizing: border-box;
	align-items: stretch;
	overflow: auto;
	min-height: 1px;
}

.home-stories_content_item {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	flex: 0 0 25%;
	padding: 0 10px;
}

.story-item-img-wrap {
	position: relative;
	overflow: hidden;
	border-radius: 6px;
}

.story-item-img-wrap::before {
	content: "";
	display: block;
	padding-bottom: 66.666%;
}

.story-item-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.story-item-content {
	height: 122px;
	padding: 15px 10px;
	box-sizing: border-box;
	color: #000;
}

.story-item-content_title {
	width: 238px;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0px;
	line-height: 1.3;
	text-overflow: ellipsis;
}

.story-item-content_profile {
	margin-top: 10px;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0px;
	white-space: nowrap;
}

.home-stories_content_menu_wrap {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 0 10px;
	position: relative;
	box-sizing: border-box;
	flex: 0 0 25%;
	min-height: 1px;
}

.home-stories_content_menu {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	border-radius: 6px;
	overflow: hidden;
	height: 100%;
}

.home-stories_content_menu_item {
	flex: 1 0 auto;
	margin: .5px 0;
	background-color: #f5f5f5;
	padding: 12.5px 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home-stories_content_menu_item > .description {
	font-size: 12px;
	margin-bottom: 10px;
	color: #757575;
}

.home-stories_content_menu_item > .title {
	font-size: 15px;
	font-weight: 700;
	color: #424242;
}

.home-store-category-list {
	display: flex;
	width: 1136px;
	box-sizing: border-box;
	max-width: 100%;
}

.store-category_item_img {
	width: 80px;
	height: 80px;
}

footer {
	background-color: #fafafa;
	margin-top: 60px;
}

.footer-wrap {
	padding: 30px 60px 40px;
	max-width: 1256px;
	margin: 0 auto;
	box-sizing: border-box;
}

.footer_top {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.footer_top > .cs {
	margin: 0 0 25px;
	font-size: 12px;
	line-height: 16px;
}

.cs_link {
	display: inline-block;
	font-weight: 700;
	color: #424242;
}

.cs_tel {
	display: inline-block;
	margin: 2px 0 0;
	font-size: 28px;
	font-weight: 700;
	color: #424242;
	line-height: 36px;
}

.cs_time {
	color: #757575;
}

.footer_shortcut {
	margin: 0 -5px 10px;
}

.footer_shortcut > li {
	display: inline;
}

.footer_shortcut_item {
	display: inline-block;
	margin: 0 3px;
	padding: 2px;
	font-size: 10px;
	font-weight: 400;
	color: #424242;
	line-height: 16px;
}

.bold {
	font-weight: 700;
}

.footer_info_wrap {
	font-size: 10px;
	color: #757575;
	line-height: 16px;
}

p.footer_copyright {
	margin: 10px 0 0;
	font-size: 10px;
	color: #424242;
	line-height: 16px;
}